[core]
	editor       = nvim
	preloadindex = true
	excludesfile = ~/.gitignore
[color]
	ui = true
	branch = auto
	diff   = auto
	status = auto
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	commit = yellow bold
	meta = 11
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
	func = 146 bold
[diff]
	tool      = vimdiff
	algorithm = histogram
	compactionHeuristic = true
[alias]
	co    = checkout
	graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
[help]
	autocorrect = 0
[pager]
	log  = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX
	diff = diff-so-fancy | less --tabs=4 -RFX
[include]
	path = ~/.gitconfig.local
[pack]
	threads = 0
[apply]
	whitespace = fix
[push]
	default = simple
[commit]
	template = ~/.gitmessage
	gpgsign = false 
[credential]
	helper = osxkeychain
[gpg]
	program = /opt/homebrew/bin/gpg
[pull]
	rebase = true
[hub]
	protocol = ssh
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Cameron Hurst 
	email = wakemaster39@gmail.com
